.navMenu{
    a{
        color: white !important;
    }
    .menu{
        background-color: rgb(50, 136, 57) !important;
        color: white !important;
        .dropdown-item{
            color: rgb(50, 136, 57) !important;
        }
        
    }
}